@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #FEFFEF;
}

#cursor {
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 100;
    pointer-events: none;
}

#nav {
    height: 6em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
}

.nav_inner {
    width: 1800px;
    height: 100%;
    margin: auto;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_inner .left img{
    width: 8em;
    cursor: pointer;
}

.nav_inner .middle,
.nav_inner .right {
    display: none;
}

/* SMALL DEVICES */
@media (min-width: 640px) {
    .nav_inner .middle {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .nav_inner .right {
        display: block;
    }

    .nav_inner .hamburger_menu {
        display: none;
    }
}

.nav_inner .middle li {
    cursor: pointer;
    position: relative;
    padding-bottom: 0.5em;
    text-wrap: nowrap;
}

.nav_inner .middle li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #07050f;
    transition: width .3s ease-in-out;
}

.nav_inner .middle li:hover::after {
    width: 100%;
}

.nav_inner .right_button {
    outline: none;
    border: 1px solid #000;
    font-size: 1em;
    padding: 1em 3.5em 1.1em;
    border-radius: 90px;
    background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav_inner .right_button:hover {
    background: #07050f;
    color: #fff;
}

.nav_overlay {
    position: fixed;;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav_overlay .top {
    margin-bottom: 3em;
}

.nav_overlay #logo {
    width: 10em;
}

.nav_overlay .middle {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
} 

.nav_overlay .bottom button{
    outline: none;
    border: none;
    background: transparent;
}

.nav_overlay .middle li, 
.nav_overlay .bottom button {
    font-size: 1.5em;
    text-align: center;
    transition: all 500ms ease;
    cursor: pointer;
}

.nav_overlay .middle li:hover, 
.nav_overlay .bottom button:hover {
    color: #ff628c;
}

.nav_overlay .menu_cancel {
    position: absolute;
    top: 2em;
    right: 2em;
}

.nav_overlay .menu_cancel svg {
    cursor: pointer;
    transition: all 500ms ease;
}

.nav_overlay .menu_cancel svg:hover {
    fill: #ff628c;
}

/* SMALL DEVICES */
@media (min-width: 640px) { }

/* MEDIUM DEVICES */
@media (min-width: 768px) { }

/* LARGE DEVICES */
@media (min-width: 1024px) { }

/* EXTRA LARGE DEVICES */
@media (min-width: 1280px) { }

#hero {
    background: url(./assets/bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
}

#hero h3 {
    font-family: 'Alata', sans-serif;
    font-size: 5.625rem;
    line-height: .9em;
    letter-spacing: -.03em;
    font-weight: 400;
    text-align: center;
}

.big_text_main {
    display: flex;
    margin: auto;
    padding: 30px 60px 222px;
}

.big_text_wrapper {
    position: relative;
    width: 16%;
}

.floating_text {
    position: absolute;
    padding: 0.7em 1.5em;
    border-radius: 90px;
    width: 10em;
    text-align: center;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .floating_text {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .floating_text {
        font-size: 1.3rem;
    }
}

.floating_text.first {
    background-image: linear-gradient(90deg, #A364F2 0%, #F8CBE8 100%);
}

.floating_text.second {
    background-image: linear-gradient(90deg, #B1F8F5 0%, #F0C0E5 100%);
}

.floating_text.third {
    background-image: linear-gradient(90deg, #FDD4B2 0%, #FF628C 100%);
}

.floating_text.fourth {
    background-image: linear-gradient(90deg, #FDD2B1 0%, #A465F2 100%);
}

.floating_text.fifth {
    background-image: linear-gradient(270deg, #F0C0E5 0%, #B1F8F5 100%);
}

.floating_text.up {
    top: 2em;
    left: -3em;
    transform: rotate(30deg);
}

.floating_text.down {
    bottom: 2em;
    left: -2em;
    transform: rotate(-30deg);
}

.big_text {
    font-size: 21vw;
    font-weight: 700;
    line-height: 1;
    background: #100647;
    background: linear-gradient(to top right, #100647 0%, #F62358 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

section.marquee {
    background: #0c0917;
    color: #fff;
    text-transform: uppercase;
    padding: 30px 0 29px;;
    text-wrap: nowrap;
    overflow: hidden;
}

.marquee_text {
    display: flex;
}

.marquee_wrapper {
    display: flex;
    gap: 2em;
}

.marquee_wrapper.width {
    padding-right: 2em;
}

section.marquee span {
    color: #fff;
    font-family: alata,Sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2.2px
}

.dynamic {
    height: 100vh;
    padding-top: 170px;
    overflow: hidden;
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}

.dynamic_circle_wrapper {
    position: relative;
    display: inline-block;
}

.dynamic_circle {
    width: 4em;;
    height: 4em;
    border-radius: 50%;
    background-color: #0c0917;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic_circle_wrapper svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dynamic_text {
    color: #fff;
    mix-blend-mode: difference;
}